@import url("https://fonts.googleapis.com/css2?family=Galdeano:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inria+Sans:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --animate-infinite-scroll: infinite-scroll 25s linear infinite;
  
  @keyframes infinite-scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
}
